form button {
  margin-left: 10px;
  background: skyblue;
  padding: 4px 6px;
  color: black;
  border-radius: 6px;
  outline: none;
  border: none;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
    'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
