form button {
  margin-left: 10px;
  background: skyblue;
  padding: 5px;
  color: black;
  border-radius: 300px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}