.header {
  height: 80px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

#plus-icon:hover {
  cursor: pointer;
}

#plus-icon {
  margin-right: 10px;
  margin-left: 16px;
}
