.dynamic-color-item-space {
  display: flex;
  flex-direction: row-reverse;
}

.custom-color-item {
  display: block;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  margin: 0 4px;
  padding: 2px;
}

i {
  color: gray;
  margin-right: -1;
}
